img{  display:block 500px; height: 300px; }

/* #nivel{display: flex;
        text-align: left;
        width: 200px;
        font-size: larger;
        margin-bottom: 100px; } */ 

#introducao{ font-size: 25px;}

#central{display: flex;}

#texto{width: 300px;
       font-size: 30px;
       margin-left: 100px;
}

#imagem{margin-left: 250px; }